<div class="header-menu">
    <h2>Running <br> buddies Podcast</h2>
    <div class="menu-list">
        <a href=""><span>home</span></a> <br>
        <a href="">about us</a> <br>
        <a href="">contact</a>
    </div>
    <div class="menu-list">
        <a href="">browse</a> <br>
        <a href="">speakers</a> <br>
        <a href="">soon</a>
    </div>
    <div class="menu-list">
        <a href="">offline events </a> <br>
        <a href="">merch</a> <br>
        <a href="">articles</a>
    </div>
    <img width="100px" height="100px" src="./assets/iconLogo.svg" alt="">
    <div class="menu-list">
        <a href="">twitter</a> <br>
        <a href="">instagram</a> <br>
        <a href="">youtube</a>
    </div>

</div>