.logo-title{
    width: 1250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    h1{
        font-size: 100px;
        font-family: "Boldonse", sans-serif;
        text-transform: uppercase;
        letter-spacing: 10px;
     
    }
}