<app-header></app-header>
<main>
    <section class="logo-title">
        <h1>Runningbuddies</h1>
    </section>
    <section class="section-card-player-info-page">
        <div class="card-players">
            <app-main-card title="Why the first Mile is like Monday Morning" infoTitle="39:32 - Morning Talk"
                name="timot Mendes" ageAndJob="23 years - programmer" backgroundImage="assets/man1.jpg">
            </app-main-card>
            <app-main-card title="Running Away From My Problems, and into Solutions" infoTitle="39:32 - Morning Talk"
                name="Mick Poul" ageAndJob="43 years - Designer" backgroundImage="assets/man2.jpg">
            </app-main-card>
            <app-main-card title="Running Life, and Learning to Slow Down" infoTitle="39:32 - Morning Talk"
                name="Amanda cley" ageAndJob="28 years - software engineer" backgroundImage="assets/girl.jpg">
            </app-main-card>
        </div>

        <app-news-the-blog></app-news-the-blog>
    </section>
</main>
<app-footer></app-footer>