<div class="container">
    <h3>From the blog</h3>
    <app-info-text-the-blog authorName="" info="Interdum et malesuada fames ac ante ipsum primis in faucibus.">
    </app-info-text-the-blog>
    <hr>
    <app-info-text-the-blog authorName="Angela Jonathan"
        info="Maecenas sed sem ac ex ullamcorper convallis. Suspendisse nec nisl neque. Sed nec neque."></app-info-text-the-blog>
    <hr>
    <app-info-text-the-blog authorName="Michael winter"
        info="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis porttitor nulla feugiat varius."></app-info-text-the-blog>
    <hr>
    <app-info-text-the-blog authorName="Budi Setiawan"
        info="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed."></app-info-text-the-blog>
    <button class="button-50">Visit Blog</button>
</div>